<template>
    <div>
        <form @submit="onSubmit">
            <input :placeholder="placeHolderText" @input="onInput"/>
        </form>

    </div>
</template>


<script>
    export default {
        name: "SearchBar",
        props:['placeHolderText'],
        methods:{
            onInput: function(e){
                this.$emit('termChange', e.target.value)
            },

            onSubmit(e){
                e.preventDefault();
                this.$emit('submitTerm')
            }
        }
}
</script>

<style scoped>
    input {
        width: 75%;
    }
    div {
        text-align:center;
        margin:20px;
    }
</style>