<template>
    <div v-if="video" class="col-md-8">
        <div class="details">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" :src="videoUrl"></iframe>
            </div>
            <h4>{{title}}</h4>
            <p>
                {{description}}
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VideoDetail",
        props:{
            video: Object
        },
        computed:{
            title(){
                //return this.video ? this.video.snippet.title : null
                return this.video.snippet.title
            },
            description(){
                return this.video.snippet.description
            },
            videoUrl(){
                return `https://www.youtube.com/embed/${this.video.id.videoId}`
            }
        }
    }
</script>

<style scoped>
.details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
</style>