<template>
    <li class="list-group-item media"  @click="onVideoSelect">
        <img class="mr-3" :src="thumbnailURL">
        <div class="media-body">
            {{title}}
        </div>
    </li>
</template>

<script>
    export default {
        name: "VideoListItem",
        props: {
            video: Object
        },
        methods:{
            onVideoSelect(){
                this.$emit("videoSelect", this.video)
            }
        },
        computed: {
            title() {
                return this.video.snippet.title
            },
            thumbnailURL() {
                return this.video.snippet.thumbnails.default.url
            }
        }
    };
</script>

<style scoped>
    li {
        display: flex;
        cursor: pointer;
    }
    li:hover{
        background-color: #eee;
    }
</style>
