<template>
    <div class="container">
        <SearchBar placeHolderText="hello there!" @termChange="displayTerm" @submitTerm="submitTerm"
        />
        <div class="row">
            <VideoDetail :video="selectedVideo"/>
            <VideoList :videos="videos" @videoSelect="onVideoSelect"/>
        </div>

    </div>
</template>


<script>
    import SearchBar from "./components/SearchBar";
    import youtubeApi from "./apis/youtubeApi";
    import VideoList from "./components/VideoList";
    import VideoDetail from "./components/VideoDetail";

    export default {
        name: "App",
        components: {VideoDetail, VideoList, SearchBar},
        data: function () {
            return {
                term: "",
                videos: [],
                selectedVideo: null
            };
        },
        computed: {},
        methods: {
            displayTerm(term) {
                this.term = term
            },
            async submitTerm() {
                let response = await youtubeApi.get('/search', {
                    params: {
                        q: this.term
                    }
                });
                this.videos = response.data.items
            },
            onVideoSelect(video) {
                this.selectedVideo = video
            }
        }
    }
</script>

<style scoped>

</style>